.edit-button { 
    text-decoration: none;
    color: blue;
}

.delete-button {
  text-decoration: none;
  color: red;
}

.table-custom-header {
  
  th {
    background-color: #d2b48c;
    color: #fff;
  }
}

.btn-custom {
  background-color: #87CEEB;
  color: #fff;
}

.btn-custom:hover {
  background-color: #75a2b4;
}

