<button class="btn btn-primary add-button" (click)="add()">Ajouter un nouvel élément</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Position (verticale)</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @for(element of list; track $index) {
    <tr>
      <th scope="row">{{ $index }}</th>
      <td>{{ element.title }}</td>
      <td>{{ element.url }}</td>
      <td>{{ element.verticalPosition }}</td>
      <td>
        <button type="button" class="btn btn-link edit-button" data-bs-toggle="modal" data-bs-target="#testimonyModal">Editer</button>
        <app-testimony-modal></app-testimony-modal>

        <button type="button" class="btn btn-link delete-button" data-bs-toggle="modal" data-bs-target="#confirmationModal">Supprimer</button>
        <app-confirmation-modal (confirmationSent)="delete(element.title)"></app-confirmation-modal>
      </td>
    </tr>
    }
  </tbody>
</table>
