.modal-title {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.6rem;
    color: #d2b48c;
}

.form-item-title {
    font-weight: normal;
    font-size: 1.2rem;
}

.custom-modal-footer {
    border-top: none;
    padding-top: 1rem;
}

.btn-submit {
    color: #fff;
    font-weight: bold;
    font-family: "Fresca";
    font-size: 1.6rem;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #d2b48c;
}
