<div class="modal fade" id="testimonyModal" tabindex="-1" role="dialog" aria-labelledby="testimonyModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="modalTitle">Votre témoignage</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <div class="mb-3">
                            <label for="email" class="form-label form-item-title">Pseudo</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="mb-3">
                            <label for="#message" class="form-label form-item-title">Message</label>
                            <textarea class="form-control" id="message"></textarea>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" class="btn btn-submit" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#testimonyModal">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>