.btn-connexion {
    color: #fff;
    font-weight: bold;
    font-family: "Fresca";
    font-size: 1.6rem;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #d2b48c;
}

.btn-connexion:hover {
    background-color: #d1c0a9;
}

.modal-title {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}