<div class="container my-5">
  <!-- Header du tableau -->
  <div class="d-flex mb-4">
    <h3 class="mb-0">Liste des Témoignages</h3>
    @if(currentRole == Roles.Admin) {
    <button
      type="button"
      class="btn btn-custom"
      style="margin-left: auto"
      data-bs-toggle="modal"
      data-bs-target="#addTestimony"
    >
      Ajouter un nouvel élément
    </button>
    <!-- Modale d'ajout -->
    <app-add-testimony-form (onSubmit)="add($event)"></app-add-testimony-form>
    }
  </div>

  <!-- Tableau des témoignages -->
  <div class="card shadow-sm">
    <div class="card-body p-0">
      <table class="table table-hover mb-0">
        <thead class="table-custom-header">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Message</th>
            <th scope="col" width="7%">Validé ?</th>
            <th scope="col" class="text-end" width="12%">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(element of list; track $index) {
          <tr>
            <td scope="row">{{ $index + 1 }}</td>
            <td>{{ element.pseudo }}</td>
            <td>{{ element.message }}</td>
            <td>{{ element.isValidated ? "Oui" : "Non" }}</td>
            <td>
              <div class="d-flex justify-content-end">
                <!-- Bouton Editer -->
                <button
                  type="button"
                  class="btn btn-link p-0 text-primary"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="'#editTestimony' + element.id"
                >
                  Editer
                </button>
                <app-edit-testimony-form
                  [selectedTestimony]="element"
                  [currentRole]="currentRole"
                  (onSubmit)="edit($event)"
                ></app-edit-testimony-form>

                <!-- Bouton Supprimer -->
                <button
                  type="button"
                  class="btn btn-link p-0 text-danger ms-3"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="'#confirmationModal' + element.id"
                >
                  Supprimer
                </button>
                <app-confirmation-modal
                  [id]="element.id"
                  (confirmationSent)="delete(element.id ?? 0)"
                ></app-confirmation-modal>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
