.brand-logo {
    font-family: "Fresca";
    font-weight: bold;
    font-size: 2.3rem;
}

.nav-link, .btn-custom {
    color: black;
    font-weight: bold;
    font-family: "Fresca";
    font-size: 1.6rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.nav-link:hover {
    color: #f2f2f2;
}

/*.btn-custom {
    border: solid;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    color: black;
}
*/