@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Salsa&display=swap');

@font-face {
    font-family: "Salsa", cursive;
    src: url("../assets/fonts/Salsa-Regular.ttf");
}

@font-face {
    font-family: "Fresca", sans-serif;
    src: url("../assets/fonts/Fresca-Regular.ttf");
}