@font-face {
    font-family: "Salsa", cursive;
    src: url("../assets/fonts/Salsa-Regular.ttf");
}

@font-face {
    font-family: "Fresca", sans-serif;
    src: url("../assets/fonts/Fresca-Regular.ttf");
}
