.footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0;
}
.footer a {
    color: #ffc107;
}
.footer a:hover {
    color: #fff;
    text-decoration: none;
}
.footer-logo {
    max-width: 150px;
    margin-bottom: 20px;
}
.footer .nav-link {
    padding: 0;
}