.brand-logo {
    font-family: "Fresca";
    font-weight: bold;
    font-size: 2.3rem;
    color: #000000;
}

.brand-logo:hover {
    color: #3f3f3f;
}

.nav-link, .btn-custom {
    color: #d2b48c;
    font-weight: bold;
    font-family: "Fresca";
    font-size: 1.6rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.nav-link:hover {
    color: #d1c0a9;
}

/*.btn-custom {
    border: solid;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    color: black;
}
*/