<div class="modal fade" id="addHabitat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="modalTitle">Ajouter un Habitat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createForm" (submit)="save()">
                    <div>
                        <div class="mb-3">
                            <label for="title" class="form-label form-item-title">Titre</label>
                            <input type="text" class="form-control" id="title" [formControlName]="formControls.title">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label form-item-title">Description</label>
                            <textarea class="form-control" id="description" [formControlName]="formControls.description"></textarea>
                        </div>

                        <div clas="mb-3">
                            <div class="form-label form-item-title">Image</div>                    
                            <input class="form-control" type="file" accept="image/*" (change)="addImage($event)">
                        </div>

                        <div class="mb-3">
                            <label for="comment" class="form-label form-item-title">Commentaires</label>
                            <textarea class="form-control" id="comment" [formControlName]="formControls.comment"></textarea>
                        </div>
                        
                        <div class="modal-footer custom-modal-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-cancel" data-bs-toggle="modal" data-bs-target="#addHabitat">Fermer</button>
                            <button [disabled]="createForm.invalid || !selectedImage" type="submit" class="btn btn-submit" data-bs-toggle="modal" data-bs-target="#addHabitat">Ajouter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>