.btn-connexion {
  color: #fff;
  font-weight: bold;
  font-family: "Fresca";
  font-size: 1.6rem;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: #d2b48c;
}

.btn-connexion:hover,
.btn-submit:hover {
  background-color: #d1c0a9;
}

.custom-modal {
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}

.custom-modal-header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.modal-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.custom-modal-body {
  padding: 2rem;
}

.custom-modal-footer {
  border-top: none;
  padding-top: 1rem;
}


.btn-submit {
  background-color: #d2b48c;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
}