<div class="container my-5">
  <!-- Header du tableau -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="mb-0">Liste des Utilisateurs</h3>
    <button
      type="button"
      class="btn btn-custom"
      data-bs-toggle="modal"
      data-bs-target="#addUser"
    >
      Ajouter un nouvel élément
    </button>
  </div>

  <!-- Modale d'ajout -->
  <app-add-user-form (onSubmit)="add($event)"></app-add-user-form>

  <!-- Tableau des utilisateurs -->
  <div class="card shadow-sm">
    <div class="card-body p-0">
      <table class="table table-hover mb-0">
        <thead class="table-custom-header">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Adresse mail</th>
            <th scope="col">Rôle</th>
            <th scope="col" class="text-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(element of list; track $index) {
          <tr>
            <td scope="row">{{ $index + 1 }}</td>
            <td>{{ element.surname }}</td>
            <td>{{ element.name }}</td>
            <td>{{ element.email }}</td>
            <td>{{ roleEnum[element.role] }}</td>
            <td class="text-end">
              <!-- Bouton Editer -->
              <button
                type="button"
                class="btn btn-link p-0 text-primary"
                data-bs-toggle="modal"
                [attr.data-bs-target]="'#editUser' + element.id"
              >
                Editer
              </button>
              <app-edit-user-form
                [selectedUser]="element"
                (onSubmit)="edit($event)"
              ></app-edit-user-form>

              <!-- Bouton Supprimer -->
              <button
                type="button"
                class="btn btn-link p-0 text-danger ms-3"
                data-bs-toggle="modal"
                [attr.data-bs-target]="'#confirmationModal' + element.id"
              >
                Supprimer
              </button>
              <app-confirmation-modal
                [id]="element.id"
                (confirmationSent)="delete(element.id ?? 0)"
              ></app-confirmation-modal>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
