.card-title {
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  .card-text {
    font-size: 1.5rem;
  }
  
  .position-relative {
    position: relative;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .card-img {
    display: block;
    transition: transform 0.3s ease; /* Transition pour l'effet de mise à l'échelle */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transitions pour l'effet de mise à l'échelle et la visibilité */
    transform: scale(1); /* Valeur initiale pour l'effet de mise à l'échelle */
    box-sizing: border-box;
    padding: 1rem; /* Ajoute un peu de marge interne */
  }
  
  .image-container:hover .card-img {
    transform: scale(0.95); /* Réduit l'image à 95% de sa taille initiale */
  }
  
  .image-container:hover .overlay {
    opacity: 1; /* Rend l'overlay visible lors du survol de l'image */
    transform: scale(0.95); /* Réduit l'overlay à 95% de sa taille initiale */
  }
  
  .overlay-title {
    font-size: 1.5rem; /* Ajuste la taille du titre */
    margin-bottom: 1rem; /* Ajoute un espace sous le titre */
  }
  
  .overlay-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Assure que la liste est centrée sous le titre */
  }
  
  .overlay-list li {
    margin-bottom: 0.5rem; /* Ajoute un espace entre les éléments de la liste */
    font-size: 1.2rem; /* Ajuste la taille du texte des éléments de la liste */
  }
  