<div
  class="modal fade"
  id="addAnimal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="modalTitle">
          Ajouter un Animal
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createForm" (submit)="save()">
          <div>
            <div class="mb-3">
              <label for="name" class="form-label form-item-title">Nom</label>
              <input
                type="text"
                class="form-control"
                id="name"
                [formControlName]="formControls.name"
              />
            </div>

            <div class="mb-3">
              <label for="race" class="form-label form-item-title">Race</label>
              <input
                type="text"
                class="form-control"
                id="race"
                [formControlName]="formControls.race"
              />
            </div>

            <div clas="mb-3">
              <div class="form-label form-item-title">Image</div>
              <input
                class="form-control"
                type="file"
                accept="image/*"
                (change)="addImage($event)"
              />
            </div>

            <div class="mb-3 mt-3">
              <label for="race" class="form-label form-item-title"
                >Habitat associé</label
              >

              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ selectedHabitat?.title || "Sélectionnez un habitat" }}
                </button>

                <ul class="dropdown-menu">
                  @for(habitat of habitats; track $index){
                  <li>
                    <a
                      class="dropdown-item"
                      (click)="selectedHabitat = habitat"
                      >{{ habitat.title }}</a
                    >
                  </li>
                  }
                </ul>
              </div>
            </div>

            <div
              class="modal-footer custom-modal-footer d-flex justify-content-center"
            >
              <button
                type="button"
                class="btn btn-cancel"
                data-bs-toggle="modal"
                data-bs-target="#addAnimal"
              >
                Fermer
              </button>
              <button
                [disabled]="createForm.invalid || !selectedHabitat"
                type="submit"
                class="btn btn-submit"
                data-bs-toggle="modal"
                data-bs-target="#addAnimal"
              >
                Ajouter
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
