<div
  class="modal fade"
  [attr.id]="'editHabitat' + selectedHabitat.id"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="modalTitle">
          Modifier un Habitat
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (submit)="save()">
          <div>
            <div class="mb-3">
              <label for="title" class="form-label form-item-title"
                >Title</label
              >
              <input
                type="text"
                class="form-control"
                id="title"
                [formControlName]="formControls.title"
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label form-item-title"
                >Description</label
              >
              <textarea
                class="form-control"
                id="description"
                [formControlName]="formControls.description"
              ></textarea>
            </div>

            <div
              class="modal-footer custom-modal-footer d-flex justify-content-center"
            >
              <button
                type="button"
                class="btn btn-cancel"
                data-bs-toggle="modal"
                data-bs-target="#addHabitat"
              >
                Fermer
              </button>
              <button
                [disabled]="editForm.invalid"
                type="submit"
                class="btn btn-submit"
                data-bs-toggle="modal"
                [attr.data-bs-target]="'#editHabitat' + selectedHabitat.id"
              >
                Modifier
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
